.header_container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1121;
}
header {
  z-index: 1122;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 28px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_one {
  width: 56px;
  height: 56px;
}
img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
ul {
  display: flex;
  gap: 20px;
  color: #b2b2b2;
}
li {
  transition: all 0.3s ease;
  &:hover {
    color: #368b67;
    transform: scale(1.1);
    cursor: pointer;
  }
  &.active {
    color: #368b67;
    font-weight: bold;
  }
}
button {
  padding: 15px;
  font-size: 18px;
  background-color: inherit;
  color: #b2b2b2;
  box-shadow: none;
  border: 2px solid #b2b2b2;
  border-radius: 8px;
  transition: 0.3s ease;
  &:hover {
    cursor: pointer;
    border: 2px solid #368b67;
    color: #368b67;
    transform: scale(1.1);
  }
}
@media (max-width: 1024px) {
  header {
    padding: 32px 50px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 32px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 20px;
  }
  nav {
    display: none;
  }
}
@media (max-width: 600px) {
  header {
  }
  button {
    padding: 10px;
  }
}
