<div
  class="popup-overlay"
  *ngIf="showPopup"
  (click)="closePopupOnOverlay($event)"
>
  <div class="popup-content">
    <button class="close-button" (click)="closePopup()">×</button>
    <h2>Sign Up</h2>
    <p class="log_in_section_p">
      Create a new account by entering your details
    </p>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form_inputs_container">
        <div class="form-row">
          <div class="form-group">
            <label>
              First Name:
              <input
                type="text"
                formControlName="name"
                placeholder="Enter your first name"
                [ngClass]="{ 'invalid': signupForm.controls['name'].invalid && signupForm.controls['name'].touched }"
              />
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['name'].invalid && signupForm.controls['name'].touched"
            >
              <div *ngIf="signupForm.controls['name'].errors?.['required']">
                Name is required
              </div>
              <div *ngIf="signupForm.controls['name'].errors?.['minlength']">
                Minimum 2 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>
              Last Name:
              <input
                type="text"
                formControlName="lastName"
                placeholder="Enter your last name"
                [ngClass]="{ 'invalid': signupForm.controls['lastName'].invalid && signupForm.controls['lastName'].touched }"
              />
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['lastName'].invalid && signupForm.controls['lastName'].touched"
            >
              <div *ngIf="signupForm.controls['lastName'].errors?.['required']">
                Last Name is required
              </div>
              <div
                *ngIf="signupForm.controls['lastName'].errors?.['minlength']"
              >
                Minimum 2 characters
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>
              Username:
              <input
                type="text"
                formControlName="username"
                placeholder="Enter your username"
                [ngClass]="{ 'invalid': signupForm.controls['username'].invalid && signupForm.controls['username'].touched }"
              />
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched"
            >
              <div *ngIf="signupForm.controls['username'].errors?.['required']">
                Username is required
              </div>
              <div
                *ngIf="signupForm.controls['username'].errors?.['minlength']"
              >
                Minimum 3 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>
              Date of Birth:
              <input
                type="date"
                formControlName="dob"
                [ngClass]="{ 'invalid': signupForm.controls['dob'].invalid && signupForm.controls['dob'].touched }"
              />
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['dob'].invalid && signupForm.controls['dob'].touched"
            >
              <div *ngIf="signupForm.controls['dob'].errors?.['required']">
                Date of Birth is required
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>
              Email:
              <input
                type="email"
                formControlName="email"
                placeholder="Enter your email"
                [ngClass]="{ 'invalid': signupForm.controls['email'].invalid && signupForm.controls['email'].touched }"
              />
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched"
            >
              <div *ngIf="signupForm.controls['email'].errors?.['required']">
                Email is required
              </div>
              <div *ngIf="signupForm.controls['email'].errors?.['email']">
                Invalid email format
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>
              Language:
              <div
                class="custom-select-wrapper"
                [ngClass]="{
                  'ng-touched': signupForm.controls['language'].touched,
                  'ng-valid': signupForm.controls['language'].valid,
                  'ng-invalid': signupForm.controls['language'].invalid
                }"
              >
                <div
                  class="custom-select-trigger"
                  (click)="toggleLanguageDropdown($event)"
                >
                  <span>{{ selectedLanguage || 'Select Language' }}</span>
                  <i
                    class="arrow"
                    [ngClass]="{ 'up': isLanguageDropdownOpen }"
                  ></i>
                </div>
                <div
                  class="custom-options options"
                  *ngIf="isLanguageDropdownOpen"
                >
                  @for(language of countryName;track language){
                  <div
                    class="custom-option"
                    (click)="selectLanguage(language.code)"
                  >
                    {{language.code}} ({{language.name}})
                  </div>
                  }
                </div>
                <input type="hidden" formControlName="language" />
              </div>
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['language'].invalid && signupForm.controls['language'].touched"
            >
              <div *ngIf="signupForm.controls['language'].errors?.['required']">
                Language is required
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>
              Country:
              <div
                class="custom-select-wrapper"
                [ngClass]="{
                  'ng-touched': signupForm.controls['country'].touched,
                  'ng-valid': signupForm.controls['country'].valid,
                  'ng-invalid': signupForm.controls['country'].invalid
                }"
              >
                <div
                  class="custom-select-trigger"
                  (click)="toggleCountryDropdown($event)"
                >
                  <span>{{ selectedCountry || 'Select Country' }}</span>
                  <i
                    class="arrow"
                    [ngClass]="{ 'up': isCountryDropdownOpen }"
                  ></i>
                </div>
                <div
                  class="custom-options options"
                  *ngIf="isCountryDropdownOpen"
                >
                  <div class="custom-option" (click)="selectCountry('English')">
                    English
                  </div>
                  @for(country of countryName; track country){
                  <div
                    class="custom-option"
                    (click)="selectCountry(country.name)"
                  >
                    {{country.name}}
                  </div>
                  }
                </div>
                <input type="hidden" formControlName="language" />
              </div>
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['language'].invalid && signupForm.controls['language'].touched"
            >
              <div *ngIf="signupForm.controls['language'].errors?.['required']">
                Language is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">
              Phone Number:
              <div
                class="phone-input"
                [ngClass]="{
                  'invalid': (signupForm.controls['dialCode'].invalid || signupForm.controls['phone'].invalid) &&
                             (signupForm.controls['dialCode'].touched || signupForm.controls['phone'].touched)
                }"
              >
                <div
                  class="dial-code custom-select-wrapper"
                  [ngClass]="{
                    'ng-touched': signupForm.controls['dialCode'].touched,
                    'ng-valid': signupForm.controls['dialCode'].valid,
                    'ng-invalid': signupForm.controls['dialCode'].invalid
                  }"
                >
                  <div
                    class="custom-select-trigger"
                    (click)="toggleDialCodeDropdown($event)"
                  >
                    <span>{{ selectedDialCode || 'Code' }}</span>
                    <i
                      class="arrow"
                      [ngClass]="{ 'up': isDialCodeDropdownOpen }"
                    ></i>
                  </div>
                  <div
                    class="custom-options options"
                    *ngIf="isDialCodeDropdownOpen"
                  >
                    @for(dialCode of countryDialCode;track dialCode){
                    <div
                      class="custom-option"
                      (click)="selectDialCode(dialCode.dial_code)"
                    >
                      {{dialCode.dial_code}}
                      <span class="counrtyCode">({{dialCode.code}})</span>
                    </div>
                    }
                  </div>
                  <input type="hidden" formControlName="dialCode" />
                </div>
                <input
                  type="number"
                  formControlName="phone"
                  placeholder="Enter your phone number"
                />
              </div>
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['dialCode'].invalid && signupForm.controls['dialCode'].touched"
            >
              <div *ngIf="signupForm.controls['dialCode'].errors?.['required']">
                Please select a dial code
              </div>
            </div>
            <div
              class="error"
              *ngIf="signupForm.controls['phone'].invalid && signupForm.controls['phone'].touched"
            >
              <div *ngIf="signupForm.controls['phone'].errors?.['required']">
                Phone number is required
              </div>
              <div *ngIf="signupForm.controls['phone'].errors?.['minlength']">
                Minimum 7 digits
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>
              Password:
              <input
                type="password"
                formControlName="password"
                placeholder="Enter your password"
                [ngClass]="{ 'invalid': signupForm.controls['password'].invalid && signupForm.controls['password'].touched }"
              />
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched"
            >
              <div *ngIf="signupForm.controls['password'].errors?.['required']">
                Password is required
              </div>
              <div *ngIf="signupForm.controls['password'].errors?.['pattern']">
                Password must be at least 8 characters, include 1 uppercase, 1
                lowercase, 1 number, and 1 special character
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>
              Confirm Password:
              <input
                type="password"
                formControlName="repeatPassword"
                placeholder="Confirm your password"
                [ngClass]="{ 'invalid': signupForm.controls['repeatPassword'].invalid && signupForm.controls['repeatPassword'].touched }"
              />
            </label>
            <div
              class="error"
              *ngIf="signupForm.controls['repeatPassword'].invalid && signupForm.controls['repeatPassword'].touched"
            >
              <div
                *ngIf="signupForm.controls['repeatPassword'].errors?.['required']"
              >
                Repeat Password is required
              </div>
              <div
                *ngIf="signupForm.controls['repeatPassword'].errors?.['mustMatch']"
              >
                Passwords must match
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="submit-button"
          [disabled]="signupForm.invalid"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
